.sha-router-main {
  & .sha-about-us {
    
    .sha-carousel-legend {
      @include legendTitle();
    }
    
    .sha-carousel {
      overflow: hidden;
      position: relative;
      margin: 15px 0;
      .slick-list {
        background: linear-gradient(90deg, transparent, lightgrey 50%, lightgrey 50%, transparent 100%);
        .slick-slide {
          height: 300px;
          background: transparent;
          img {
            height: 400px;
            margin: auto;
            top: -50px;
            position: relative;
          }
        }
      }
    }
    .sha-intro-title {
      @include legendTitle();
    }
    .sha-intro-content {
      word-spacing: 1px;
      letter-spacing: 1px;
      padding: 0 20px;
      line-height: $font16 * 2;
      font-size: $font16;
      text-indent: $font16 * 2;
      font-weight: 200;
    }
  }
}

@media (max-width: $mediaPhone) {
  .sha-router-main {
    & .sha-about-us {
      .sha-carousel-legend {
        @include textCenter();
      }
      .sha-carousel {
        .slick-slide {
          text-align: center;
          height: 200px;
          line-height: 200px;
          img {
            width : 100%;
            height: inherit;
          }
        }
      }
      .sha-intro-title {
        @include textCenter();
      }
    }
  }
}