.sha-router-main {
  .sha-achievements {
    .sha-activity-card {
      margin: 20px 0;
      img {
        border-radius: 4px;
      }
      .timeline-text {
        position: relative;
        top: -4px;
        word-spacing: 1px;
        letter-spacing: 1px;
        font-size: 16px;
        text-indent: 16px;
        font-weight: 200;
      }
      .ant-card-head-title {
        font-size: 15px;
      }
    }
  }
}